.main{
    background-image: url(../image/backround.png);
    padding-top: 201px;
    padding-bottom: 159px;
    height: 762px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
}
.main_continer{
    .main_title{
        width: 420px;
            h2{
                font-weight: 500px;
                font-size: 45px;
                color: #363739;
                span{
                font-weight: 500px;
                font-size: 45px;
                color: #3EA83B;
                }
            }
            h1{
                font-weight: 700px;
                font-size: 122px;
                color: #3EA83B;
            }
            p{
                font-size: 24px;
                color: #8C8C8C;
                line-height: 31px;
                margin-bottom: 24px;
            }
    }
}
.main_button{
    @extend %buttonbolim
}
.main_button:hover{
    background-color: #277426;
}